.snake-game {
  height: 600px;
  width: 600px;
}

ul {
  height: 20px;
  width: 500px;
  margin: 0;
}

li {
  display: inline-block;
  border: 2px red solid;
  width: 20px;
  height: 20px;
}
.snake {
  background-color: red;
}
